
:root{
  --primary-color: #f67e7f;
  --text-color: #161c2d;
  --text-color1: white;
  --text-color2: #93c5d0;
  --primary-color2: #004147;
  --primary-color3: #002528;
  --primary-color4: #001416;
  

/* font family variables */
  --dm: 'DM Serif Display', serif;
}

body,html {
  box-sizing: border-box;
  color: white;
  margin: 0%;
  width: 100%;
  height: 100%;
  font-family: var(--dm);
  overflow-x: hidden;
}

/* Start Navigation */
.navbar ul{
  font-size: 1.1rem;
  letter-spacing: .1rem;
}

.navbar-btn:active{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
/* End Navigation */

.pink{
  color: var(--primary-color);
}

.card .profile-thumbnail img{
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.mt-n6{
  margin-top: -2rem!important
}

.lift{
  -webkit-transition: box-shadow .25s ease,-webkit-transform .25s ease;
  transition: box-shadow .25s ease,-webkit-transform .25s ease;
  transition: box-shadow .25s ease,transform .25s ease;
  transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}
/* .ml-auto, .mx-auto {
    margin-left: auto!important;
} */

/* ======= Start Footer ======= */
.text-gray-200 {
  color: #f1f4f8!important;
}

.list-social-icon{
  max-width: 1.25rem;
  height: auto;
  
}
/* ======= Footer ======= */


/* ======= About images */
.form-row{
  display:-webkit-box;
  display:flex;
  flex-wrap:wrap;
  margin-right:-10px;
  margin-left:-10px
}

.form-row>.col,
.form-row>[class*=col-]{
  padding-right:10px;
  padding-left:10px
}



.dark-shade{
  background-color: var(--primary-color3);
  color: var(--text-color1);
}

/* End of Contact Page */


.lead{
  font-size:1.3125rem;
  font-weight:400
}






